<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIC Progress Tracker/Homepage</title>
    <link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.css">
</head>
<body>
    <section class="header">
        <nav>
            <img src="../static/Images/UOG%20logo.jpeg" alt="University of Glasgow Logo">
            <div class="nav-links" id="navLinks">
                <i class="fa-solid fa-square-xmark" onclick="hideMenu()"></i>
                <img src="../static/Images/dark.png" id="icon" alt="Dark Mode toggle">
                <ul>
                    <li><a href="javascript:void(0)" onclick="window.location.reload(true)">Home</a></li>
                    <li><a href="http://localhost:63343/FC724%20Project%201/templates/About.html?_ijt=lfrc0nhd0juhi1r155h13ikvl1">About</a></li>
                    <li><a href="http://localhost:63343/FC724%20Project%201/templates/survey.html?_ijt=lfrc0nhd0juhi1r155h13ikvl1">Data Collection</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
    <div class="text-box">
        <h1>Welcome to GIC Progress Tracker</h1>
        <h2>GIC is based on the University of Glasgow's Gilmorehill campus.<br>In partnership with Kaplan International pathways, we provide all you need and more to embark on the road ahead!</h2>
        <br>
        <a href="https://www.gla.ac.uk/" class="hero-btn">Vist our official page to learn more!</a>
    </div>

    </section>
    <!---------- Campus section (1st page divider) ------>
    <section class="campus">
        <img src="../static/Images/motto%20logo.png" alt="University of Glasgow Motto, Via, Veritas, Vita">
        <h1>Our Motto</h1>

        <div class="row">
            <div class ="campus-col">
                <img src="../static/Images/UNi%20int.jpeg" alt="The Way">
                <div class="layer">
                    <h3>The Way</h3>
                </div>
            </div>
            <div class ="campus-col">
                <img src="../static/Images/L2.jpeg" alt="The Truth">
                <div class="layer">
                    <h3>The Truth</h3>
                </div>
            </div>
            <div class ="campus-col">
                <img src="../static/Images/studytgt.jpeg" alt="The Life">
                <div class="layer">
                    <h3>The Life</h3>
                </div>
            </div>
        </div>

    </section>
    <!---------- Course Page Outline (2nd Page divider) ------>

    <section class ="course">
        <h1>Courses We Offer</h1>
        <p> The road to your degree may be tricky, but we have just the thing for you! <br>These are some of the courses we offer to prepare you for University!</p>

        <div class="row">
            <div class="course-col">
                <h3>Foundation Certificate</h3>
                <p>If you don’t meet the entry requirements to go to a UK university directly, degree preparation courses like a Foundation Certificate can help you reach the level needed to start a bachelor’s degree.
                    You’re guaranteed a place at university when you pass your course at the required level with good attendance.</p>
            </div>
            <div class="course-col">
                <h3>Pre-Masters</h3>
                <p>If you don’t quite meet the entry requirements to start a postgraduate degree at a UK university directly, degree preparation courses like a Pre-Master’s can help you reach the level you need to be at.
                    You’re guaranteed a place at university when you pass your course at the required level with good attendance. </p>
            </div>
        </div>

    </section>
    <!---------- Facilities Outline (3nd Page divider) ------>

    <section class ="facilities">
        <h1>Breathing Life Into Education</h1>
        <p>Check out some of the places, where learning happens!</p>

        <div class="row">
            <div class="facilities-col">
                <img src="../static/Images/GIC.jpeg" alt="Main Entrance of GIC">
                <h3>Main Building</h3>
                <p>This building is where most learning takes place! Boasting aesthetically pleasing architecture and learning facilities!</p>
            </div>
            <div class="facilities-col">
                <img src="../static/Images/UOGlib.jpeg" alt="Library">
                <h3>Library</h3>
                <p>Our very own on-campus Library, sporting both physical and digital references, with text and articles, suitable for any aspiring researcher!</p>
            </div>
            <div class="facilities-col">
                <img src="../static/Images/Learninghub.jpeg" alt="Learning Hub">
                <h3>Learning Hub</h3>
                <p> A place to study alone, or in groups. The Learning Hub, has all the necessary facilities for you to work on your own assignments diligently or discuss group projects with teammates.</p>
            </div>
        </div>
    </section>

    <!---------- Testimonials from our Students (4th Page divider) ------>

    <section class="testimonials">
        <h1>What Our Students Say</h1>
        <p>Here is some lovely feedback from our former students</p>

        <div class="row">
            <div class="testimonial-col">
                <img src="../static/Images/man%201.jpeg" alt="Student 1">
                <div>
                    <p>I was in the law pathway course, I progressed and got my degree from The University of Glasgow. I had the best time here with people all over the world trying hard to find a way to enter into one  of Scotland's finest university. In addition, most of the teaching staff were also good.</p>
                    <h3>Ashwin Raj</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="testimonial-col">
                <img src="../static/Images/man%202.webp" alt="Student 2">
                <div>
                    <p>For those looking for a fulfilling and extensive pathway programme to the University of Glasgow, great teaching, engaging modules, and a busy schedule (all worth it in the end)...then this is the place for you!</p>
                    <h3>Ayodeji Okewumi</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
        </div>

    </section>
    <!---------- Footer Section ------>
    <section class="footer">
        <h4>About us</h4>
        <p>We are based at Anderson College, 56 Dumbarton Rd, Glasgow G11 6NU</p>
        <p>Feel free to contact us at 0141 330 8667 if you need additional support</p>
        <p>You may email us at contact.gic@kaplan.com</p>
        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <p>Powered by <i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> <i class="fa-brands fa-js"></i></p>
    </section>

    <!---------- Javascript toggle Menu ------>
    <script>

        var icon = document.getElementById("icon");

        icon.onclick= function (){
            document.body.classList.toggle("dark-theme")
            if(document.body.classList.contains("dark-theme")){
                icon.src = "../static/Images/light.png"
            }else{
                icon.src = "../static/Images/dark.png"
            }
        }

        var navLinks = document.getElementById("navLinks")
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
    }
    </script>

</body>
</html>