<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIC Progress Tracker/Survey_Page</title>
    <link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.css">
</head>
<body>
    <section class="header2">
        <nav>
            <img src="../static/Images/UOG%20logo.jpeg" alt="University of Glasgow Logo">
            <div class="nav-links-2" id="navLinks2">
                <i class="fa-solid fa-square-xmark" onclick="hideMenu()"></i>
                <img src="../static/Images/dark.png" id="icon" alt="Dark Mode toggle">
                <ul>
                    <li><a href="http://localhost:63343/FC724%20Project%201/templates/Homepage.html?_ijt=lfrc0nhd0juhi1r155h13ikvl1">Home</a></li>
                    <li><a href="http://localhost:63343/FC724%20Project%201/templates/About.html?_ijt=lfrc0nhd0juhi1r155h13ikvl1">About</a></li>
                    <li><a href="javascript:void(0)" onclick="window.location.reload(true)">Data Collection</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <main>
        <h1>Student Progress Questionnaire</h1>
        <!---- use of post instead of get, as to not expose data by appending it to the end of the url---->
        <form id="survey" method="post" action="">
            {{ form.hidden_tag() }}
        </form>
        </main>
    </section>
            <div class="alt_group">
                {{ form.FName.label }} {{ form.FName(placeholder='John') }}
            </div>
            <div class="alt_group">
                {{ form.LName.label }} {{ form.LName(placeholder='Doe') }}
            </div>
            <div class="alt_group">
                {{ form.SNum.label }} {{ form.SNum(placeholder='P123456') }}
            </div>

            <div class="radio-group">
                {{ form.Gender.label }}
                <br><br>
                {% for subfield in form.gender %}
                <div>
                {{ subfield }} {{ subfield.label }}
                </div>
            {% endfor %}
            </div>

            <div class="alt_group">
                {{ form.Intake.label }} {{ form.Intake() }}
            </div>
            <div class="alt_group">
                {{ form.Email.label }} {{ form.Email(placeholder='John.Doe@gmail.com') }}
            </div>
            <div class="alt_group">
                {{ form.Course.label }} {{ form.Course() }}
            </div>
            <div class="alt_group">
                {{ form.Overall.label }} {{ form.Overall() }}
            </div>
            <div class="grade-group">
                {{ form.Grade_1.label }} {{ form.Grade_1() }}
            </div>
            <div class="grade-group">
                {{ form.Grade_2.label }} {{ form.Grade_2() }}
            </div>
            <div class="grade-group">
                {{ form.Grade_3.label }} {{ form.Grade_3() }}
            </div>
            <div class="grade-group">
               {{ form.Grade_4.label }} {{ form.Grade_4() }}
            </div>
            <div class="radio-group">
                {{ form.Experience.label }}
                {% for subfield in form.learning_experience %}
                    <div>
                        {{ subfield }} {{ subfield.label }}
                    </div>
                {% endfor %}
            </div>
            <div class="alt_group">
                {{ form.Why_1.label }} {{ form.Why_1() }}
            </div>
            <div class="alt_group">
                {{ form.Suggestions.label }} {{ form.Suggestions() }}
            </div>
            <div class="alt_group">
                {{ form.T_and_C.label }} {{ form.T_and_C() }}
            </div>

            <br>

            <div>
                {{ form.Submit() }}
            </div>

         <section class="footer">
            <h4>About us</h4>
            <p>We are based at Anderson College, 56 Dumbarton Rd, Glasgow G11 6NU</p>
            <p>Feel free to contact us at 0141 330 8667 if you need additional support</p>
            <p>You may email us at contact.gic@kaplan.com</p>
            <div class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
            <p>Powered by <i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> <i class="fa-brands fa-js"></i></p>
        </section>
        <!---------- Javascript toggle Menu ------>
        <script>

            var icon = document.getElementById("icon");

            icon.onclick= function (){
                document.body.classList.toggle("dark-theme")
                if(document.body.classList.contains("dark-theme")){
                    icon.src = "../static/Images/light.png"
                }else{
                    icon.src = "../static/Images/dark.png"
                }
            }

            var navLinks2 = document.getElementById("navLinks2")
            function showMenu() {
                navLinks2.style.right = "0";
            }
            function hideMenu() {
                navLinks2.style.right = "-200px";
            }
        </script>
</body>
</html>
